body, .revertBody {
    background-image: linear-gradient(to bottom right, #BBBEFE, #E8BFFB);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    
}

header {
    padding: 2%;
    font-family: 'VT323', monospace;
    font-size: 5em;
    color: #fff;

}

h1 {
    color: #FFF;
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 1em;
    
}

p {
    /* hw2ec.html */
    font-size: 1.5rem;

}

section {
    font-family: 'Lora', serif;
    color: #fff;

}

li {
    list-style: none;
    padding: 2rem;

}

li a {
    color: #fff;
    border-bottom: wheat;
    
}

a:link{
    padding: 1.5rem;
    margin: 10px;
    border-style: groove;
    border-top: none;
    border-left: none;
    border-radius: 20px;

}

.hw7link {
    width: 15%;
    /* margin: auto; to center these buttons on the page */
    margin: auto;
    /* padding: 1.5rem; */
    border-style: groove;
    border-top: none;
    border-left: none;
    border-radius: 20px;
    /* margin: 10px; */

}

.hw7p1 {
    text-align: left;

}

.hw7p2nav {
    border-style: none;

}

a:visited {
    color: violet;

}

a:hover {
    color: #baffd8 !important;
    background-color: #9ea3f5;

}

a:active {
    color: #baffd8;

}

#instructions {
    /* hw2ec.html */
    padding-bottom: 20px;
}

table {
    margin-top: 5%;
    margin-bottom: 1%;
    margin-left: 36%;
    margin-right: 36%;
    width: 25%;
}

/* Not working for some reason */

th {
    border: 1px solid;
    
}


td {
    border: 1px dotted;

}

.black {
    color: black;
}

.hw3p2center {
    text-align: center;

}

.hw3p2right {
    text-align: right;

}

#draggable {
    position: relative;
    width: 70px;
    height: 90px;
    margin-top: 10px;

}

#draggable::before, #draggable::after {
    content: "";
    position: absolute;
    top: 0;
    width: 52px;
    height: 80px;
    border-radius: 50px 50px 0 0;
    background: red;

}

#draggable::before {
    left: 50px;
    transform: rotate(-45deg);
    transform-origin: 0 100%;

}

#draggable::after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;

}

#heart-text {
    position: absolute;
    z-index: 7;
    padding-left: 15px;
    padding-top: 5px;
}

#hw4p2 {
    width: 35%;
}

@import url('https://fontlibrary.org/face/dejavu-sans-mono');

#putSqHere {
    /* font-size: 1em; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font: 1em Robo monospace; */
    font-family: 'Dejavu Sans Mono', monospace;
    /* font-variant-numeric: tabular-nums lining-nums; */
    /* font-kerning:none; */
}

/* Hw 7 class Name */

.green {
    background-image: linear-gradient(to bottom right, #BBBEFE, #387566);
}

.purple {
    background-image: linear-gradient(to bottom right, #292348, #230948);
}

.red {
    background-image: linear-gradient(to bottom right, #934845, #933);
}

.italic {
    font-style: italic;
}

.normal {
    font-style: normal;
}

.small {
    font-size: 11px;
}

.medium {
    font-size: 16px;
}

.large {
    font-size: 22px;
}


footer {
    padding-top: 50px;
}
/*
font-family: 'Inter', sans-serif;
font-family: 'Roboto Mono', monospace;
*/
/* 576px, 768px, 992px */
@media screen and (max-width: 992px) {
    a:link {
        color: purple;
        padding: 0;
        border-style: none;
        border-radius: 0;
    }

}


/* @media screen and (max-width: 768px) {
    

}

@media screen and (max-width: 576px) {

} */

/* Homework 7, Part 2 */
nav {
    padding-left: 10%;
}
        
nav ul li {
    float: left;
    display: inline;
}

        
nav ul li a {
    display: block;
    text-decoration: none;
}
        
nav ul li ul {
    position: absolute;
}
        
nav ul li ul li a {
    display: block;
}